#vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
.vs/
obj/
bin/
aspnet-core/src/CloundInvest.Web.Host/App_Data/Logs/
aspnet-core/src/CloundInvest.Web.Mvc/App_Data/Logs/
aspnet-core/src/CloundInvest.Migrator/Logs/Logs.txt
/aspnet-core/src/MyERP.Web.Host/App_Data/Logs
**/dist
**/node_moudles
**/node_modules/
/aspnet-core/docker/host/Mvc-Logs
/aspnet-core/docker/mvc
