extends:
    file: docker-compose.yml
    services:
        ant:    # 服务的名称
            build:
                context: ../ant # 工程文件夹
                dockerfile: Dockerfile
        abp:
            build:
                context: ../aspnet-core
                dockerfile: Dockerfile
